<nav class="navbar-logo-left wf-section">
  <div
    data-animation="default"
    data-collapse="medium"
    data-duration="400"
    data-easing="ease"
    data-easing2="ease"
    data-doc-height="1"
    role="banner"
    class="navbar-logo-left-container shadow-three w-nav"
  >
    <div class="container-4">
      <div class="navbar-wrapper">
        <a href="/" class="navbar-brand w-nav-brand"
          ><img
            src="https://uploads-ssl.webflow.com/63888341ff628b9aa72096f3/638b62d810a6ceaa084ce212_WhatsApp%20Image%202022-12-03%20at%2017.16.29.jpeg"
            loading="lazy"
            srcset="
              https://uploads-ssl.webflow.com/63888341ff628b9aa72096f3/638b62d810a6ceaa084ce212_WhatsApp%20Image%202022-12-03%20at%2017.16.29-p-500.jpeg  500w,
              https://uploads-ssl.webflow.com/63888341ff628b9aa72096f3/638b62d810a6ceaa084ce212_WhatsApp%20Image%202022-12-03%20at%2017.16.29-p-800.jpeg  800w,
              https://uploads-ssl.webflow.com/63888341ff628b9aa72096f3/638b62d810a6ceaa084ce212_WhatsApp%20Image%202022-12-03%20at%2017.16.29.jpeg       1080w
            "
            sizes="(max-width: 479px) 21vw, (max-width: 991px) 23vw, 11vw"
            alt=""
            class="image-5"
        /></a>
        <nav role="navigation" class="nav-menu-wrapper w-nav-menu">
          <ul role="list" class="nav-menu-two w-list-unstyled">
            <li><a href="#about" class="nav-link-2">About</a></li>
            <li><a href="#feature" class="nav-link-2">Featuring</a></li>
            <li><a href="#activities" class="nav-link-2">Activities</a></li>
            <li><a href="#pricing" class="nav-link-2">Pricing</a></li>
            <li>
              <a href="#Gallery" class="nav-link-accent-2 nav-link-2"
                >Gallery</a
              >
            </li>
            <li class="mobile-margin-top-11">
              <a href="/tickets" class="button-primary-2 w-button"
                >buy ticket</a
              >
              <a href="/reservation" class="button-primary-2 w-button"
                >reservation</a
              >
            </li>
          </ul>
        </nav>
        <div
          class="menu-button-2 w-nav-button"
          style="-webkit-user-select: text"
          aria-label="menu"
          role="button"
          tabindex="0"
          aria-controls="w-nav-overlay-0"
          aria-haspopup="menu"
          aria-expanded="false"
        >
          <div class="w-icon-nav-menu"></div>
        </div>
      </div>
    </div>
    <div class="w-nav-overlay" data-wf-ignore="" id="w-nav-overlay-0"></div>
  </div>
</nav>
