<%- include('partials/header'); -%>
<main id="landing-page">
  <%- include('partials/nav'); -%>
  <div class="main-content">
    <section id="home" class="jin-text w-container">
      <h1 class="heading-5 f-text-color-white">Experience at it’s Ultimate.</h1>
      <p class="paragraph-4 f-text-color-white">
        A fusion of culture, comedy, food , drinks, games and nonstop
        entertainment is Meetup Festival. Meet and connect with a variety of men
        and women from everywhere around Uganda. Discover the unity in
        diversity.
      </p>
      <div class="div-block-4">
        <ul role="list" class="list w-list-unstyled">
          <li class="list-item">
            <div class="list-item text-block-6 f-text-color-white">
              aKamwesi Gardens
            </div>
          </li>
          <li class="list-item-2">
            <div class="text-block-6 list-item f-text-color-white">
              10:00am - Mid night
            </div>
          </li>
        </ul>
      </div>
    </section>
    <section id="about" class="container-6 w-container">
      <div class="w-layout-grid grid-3">
        <div
          id="w-node-_9822268a-c66b-0fbd-c501-711f82380f58-3a2096f4"
          class="div-block-2"
        >
          <h1 class="heading-4 f-text-color-white">About the festival</h1>
          <p class="paragraph-3 f-text-color-white">
            Experience at it’s Ultimate. <br />A fusion of culture, comedy, food
            , drinks, games and nonstop entertainment is Meetup Festival.
            <br />Meet and connect with a variety of men and women from
            everywhere around Uganda. <br />Discover the unity in diversity.
            Connect with different people , listen into unique sounds, taste
            cultural foods , local beverages with comedy and nonstop
            entertainment.
          </p>
          <a href="#" class="button w-button f-text-color-white">Join in</a>
        </div>
        <div id="w-node-b18492a5-466d-8493-9ed4-a1f5b9f329ba-3a2096f4">
          <img
            src="https://uploads-ssl.webflow.com/63888341ff628b9aa72096f3/63889f3af333e3e8185f1163_calabar-festival2-scaled.jpg"
            loading="lazy"
            srcset="
              https://uploads-ssl.webflow.com/63888341ff628b9aa72096f3/63889f3af333e3e8185f1163_calabar-festival2-scaled-p-500.jpg   500w,
              https://uploads-ssl.webflow.com/63888341ff628b9aa72096f3/63889f3af333e3e8185f1163_calabar-festival2-scaled-p-800.jpg   800w,
              https://uploads-ssl.webflow.com/63888341ff628b9aa72096f3/63889f3af333e3e8185f1163_calabar-festival2-scaled-p-1080.jpg 1080w,
              https://uploads-ssl.webflow.com/63888341ff628b9aa72096f3/63889f3af333e3e8185f1163_calabar-festival2-scaled-p-1600.jpg 1600w,
              https://uploads-ssl.webflow.com/63888341ff628b9aa72096f3/63889f3af333e3e8185f1163_calabar-festival2-scaled-p-2000.jpg 2000w,
              https://uploads-ssl.webflow.com/63888341ff628b9aa72096f3/63889f3af333e3e8185f1163_calabar-festival2-scaled.jpg        2560w
            "
            sizes="(max-width: 479px) 89vw, 90vw"
            alt=""
            class="image"
          />
        </div>
      </div>
    </section>
    <section id="feature" class="container-6 w-container">
      <h1 class="heading-3">Featuring</h1>
      <p class="paragraph-2">
        Uganda's best Artists from all regions, Central, Northern, Western, and
        Eastern.
      </p>
      <div class="w-layout-grid grid-4">
        <div
          id="w-node-ecd4db74-7429-7a8b-94e6-d58a06ea6616-3a2096f4"
          class="artist-card"
        >
          <img
            src="https://uploads-ssl.webflow.com/63888341ff628b9aa72096f3/6389c1ab0e53ef3323eb23bf_lu-2.webp"
            loading="lazy"
            srcset="
              https://uploads-ssl.webflow.com/63888341ff628b9aa72096f3/6389c1ab0e53ef3323eb23bf_lu-2-p-500.webp 500w,
              https://uploads-ssl.webflow.com/63888341ff628b9aa72096f3/6389c1ab0e53ef3323eb23bf_lu-2.webp       719w
            "
            height="400"
            sizes="(max-width: 479px) 89vw, (max-width: 767px) 90vw, 638.9166870117188px"
            alt=""
            class="image-3"
          />
          <div class="text-block">david lutalo</div>
        </div>
        <div
          id="w-node-_50cd35b2-40e9-5873-43a7-ec0f5794eaef-3a2096f4"
          class="artist-card"
        >
          <img
            src="https://uploads-ssl.webflow.com/63888341ff628b9aa72096f3/63888d121ff4734b61b97426_Rema-2-edited.webp"
            loading="lazy"
            srcset="
              https://uploads-ssl.webflow.com/63888341ff628b9aa72096f3/63888d121ff4734b61b97426_Rema-2-edited-p-500.webp 500w,
              https://uploads-ssl.webflow.com/63888341ff628b9aa72096f3/63888d121ff4734b61b97426_Rema-2-edited.webp       768w
            "
            height="400"
            sizes="(max-width: 479px) 89vw, (max-width: 767px) 90vw, 638.3958740234375px"
            alt=""
            class="image-2"
          />
          <div class="text-block">Rema namakula</div>
        </div>
      </div>
    </section>
    <section id="activities" class="container-6 w-container">
      <div class="f-section-large-2">
        <div class="f-container-regular">
          <div class="f-margin-bottom-128">
            <div class="f-title-wrapper-center">
              <div class="f-margin-bottom-08">
                <div class="f-heading-detail-small">Activities</div>
              </div>
              <div class="f-margin-bottom-16">
                <h3 class="f-h3-heading">A cultural fest like no other</h3>
              </div>
            </div>
          </div>
          <div class="w-layout-grid f-grid-three-column">
            <div>
              <div class="f-feature-icon-wrapper">
                <img
                  src="https://uploads-ssl.webflow.com/63226e0878e701ae1e448d9e/63226e0878e701369e448f7b_Logo%20Mark.png"
                  loading="lazy"
                  alt=""
                />
              </div>
              <div class="f-margin-bottom-08">
                <div class="f-sub-heading-large">Cultural performances</div>
              </div>
              <p class="f-paragraph-small f-text-color-white">
                Experience the best of Uganda's wealthy culture through breath
                taking performances by the best acts from all regions
              </p>
            </div>
            <div>
              <div class="f-feature-icon-wrapper">
                <img
                  src="https://uploads-ssl.webflow.com/63226e0878e701ae1e448d9e/63226e0878e701369e448f7b_Logo%20Mark.png"
                  loading="lazy"
                  alt=""
                />
              </div>
              <div class="f-margin-bottom-08">
                <div class="f-sub-heading-large">Cultural food</div>
              </div>
              <p class="f-paragraph-small f-text-color-white">
                Yummy is an under statement when defining Uganda cultural meals,
                come and get a taste of thrills.
              </p>
            </div>
            <div>
              <div class="f-feature-icon-wrapper">
                <img
                  src="https://uploads-ssl.webflow.com/63226e0878e701ae1e448d9e/63226e0878e701369e448f7b_Logo%20Mark.png"
                  loading="lazy"
                  alt=""
                />
              </div>
              <div class="f-margin-bottom-08">
                <div class="f-sub-heading-large">Cultural Art Exibition</div>
              </div>
              <p class="f-paragraph-small f-text-color-white">
                From Music, Dance and Dramma to fine art, Uganda's diverse art
                and craft all at your disposal
              </p>
            </div>
          </div>
        </div>
      </div>
      <div></div>
    </section>
    <section id="pricing" class="f-section-large">
      <div class="f-container-small">
        <div class="f-margin-bottom-24">
          <div class="f-pricing-title-wrapper">
            <div class="f-margin-bottom-12 f-text-weight-bold">
              <div class="f-heading-detail-small">tickets</div>
            </div>
            <h2 class="f-h2-heading">
              Save your seat at the coolest cultural fest in town
            </h2>
          </div>
        </div>
        <div
          data-duration-in="300"
          data-duration-out="100"
          data-current="Tab 2"
          data-easing="ease"
          class="f-pricing-tab w-tabs"
        >
          <div class="w-tab-content">
            <div data-w-tab="Tab 1" class="f-pricing-tab-pane w-tab-pane">
              <div class="w-layout-grid f-pricing-column-basic">
                <div
                  id="w-node-b5ce85a2-8f17-4ef6-9942-ec37a71d1d9f-3a2096f4"
                  class="f-pricing-card-dark"
                >
                  <div class="f-margin-bottom-16">
                    <h5 class="f-h5-heading f-text-color-white">
                      Professional
                    </h5>
                  </div>
                  <div class="f-margin-bottom-24">
                    <div class="f-pricing-type-wrapper">
                      <h6 class="f-h6-heading f-text-color-white">
                        $50.00 <span class="f-pricing-duration">/ Month</span>
                      </h6>
                      <div class="f-badge-filled"><div>Popular</div></div>
                    </div>
                  </div>
                  <div class="w-layout-grid f-pricing-feature-list">
                    <div
                      id="w-node-b5ce85a2-8f17-4ef6-9942-ec37a71d1dad-3a2096f4"
                      class="f-pricing-feature-item"
                    >
                      <div class="f-icon-regular w-embed">
                        <svg
                          xmlns="http://www.w3.org/2000/svg"
                          width="24"
                          height="24"
                          viewBox="0 0 24 24"
                          fill="none"
                        >
                          <path
                            d="M12.0002 19.6386C7.78126 19.6386 4.36133 16.2187 4.36133 11.9997C4.36133 7.78077 7.78126 4.36084 12.0002 4.36084C16.2192 4.36084 19.6391 7.78077 19.6391 11.9997C19.6391 16.2187 16.2192 19.6386 12.0002 19.6386ZM11.2386 15.0553L16.6393 9.65383L15.5592 8.57369L11.2386 12.895L9.07758 10.734L7.99744 11.8141L11.2386 15.0553Z"
                            fill="white"
                          ></path>
                        </svg>
                      </div>
                      <div class="f-paragraph-small f-text-color-gray-400">
                        Pricing feature here
                      </div>
                    </div>
                    <div
                      id="w-node-b5ce85a2-8f17-4ef6-9942-ec37a71d1db1-3a2096f4"
                      class="f-pricing-feature-item"
                    >
                      <div class="f-icon-regular w-embed">
                        <svg
                          xmlns="http://www.w3.org/2000/svg"
                          width="24"
                          height="24"
                          viewBox="0 0 24 24"
                          fill="none"
                        >
                          <path
                            d="M12.0002 19.6386C7.78126 19.6386 4.36133 16.2187 4.36133 11.9997C4.36133 7.78077 7.78126 4.36084 12.0002 4.36084C16.2192 4.36084 19.6391 7.78077 19.6391 11.9997C19.6391 16.2187 16.2192 19.6386 12.0002 19.6386ZM11.2386 15.0553L16.6393 9.65383L15.5592 8.57369L11.2386 12.895L9.07758 10.734L7.99744 11.8141L11.2386 15.0553Z"
                            fill="white"
                          ></path>
                        </svg>
                      </div>
                      <div class="f-paragraph-small f-text-color-gray-400">
                        Pricing feature here
                      </div>
                    </div>
                    <div
                      id="w-node-b5ce85a2-8f17-4ef6-9942-ec37a71d1db5-3a2096f4"
                      class="f-pricing-feature-item"
                    >
                      <div class="f-icon-regular w-embed">
                        <svg
                          xmlns="http://www.w3.org/2000/svg"
                          width="24"
                          height="24"
                          viewBox="0 0 24 24"
                          fill="none"
                        >
                          <path
                            d="M12.0002 19.6386C7.78126 19.6386 4.36133 16.2187 4.36133 11.9997C4.36133 7.78077 7.78126 4.36084 12.0002 4.36084C16.2192 4.36084 19.6391 7.78077 19.6391 11.9997C19.6391 16.2187 16.2192 19.6386 12.0002 19.6386ZM11.2386 15.0553L16.6393 9.65383L15.5592 8.57369L11.2386 12.895L9.07758 10.734L7.99744 11.8141L11.2386 15.0553Z"
                            fill="white"
                          ></path>
                        </svg>
                      </div>
                      <div class="f-paragraph-small f-text-color-gray-400">
                        Pricing feature here
                      </div>
                    </div>
                    <div
                      id="w-node-b5ce85a2-8f17-4ef6-9942-ec37a71d1db9-3a2096f4"
                      class="f-pricing-feature-item"
                    >
                      <div class="f-icon-regular w-embed">
                        <svg
                          xmlns="http://www.w3.org/2000/svg"
                          width="24"
                          height="24"
                          viewBox="0 0 24 24"
                          fill="none"
                        >
                          <path
                            d="M12.0002 19.6386C7.78126 19.6386 4.36133 16.2187 4.36133 11.9997C4.36133 7.78077 7.78126 4.36084 12.0002 4.36084C16.2192 4.36084 19.6391 7.78077 19.6391 11.9997C19.6391 16.2187 16.2192 19.6386 12.0002 19.6386ZM11.2386 15.0553L16.6393 9.65383L15.5592 8.57369L11.2386 12.895L9.07758 10.734L7.99744 11.8141L11.2386 15.0553Z"
                            fill="white"
                          ></path>
                        </svg>
                      </div>
                      <div class="f-paragraph-small f-text-color-gray-400">
                        Pricing feature here
                      </div>
                    </div>
                  </div>
                  <div class="f-pricing-line-dark"></div>
                  <a href="#" class="f-pricing-button w-button">Get Started</a>
                </div>
                <div
                  id="w-node-_41068643-c480-37a5-7f62-1f504a76c570-3a2096f4"
                  class="f-pricing-card-outline"
                >
                  <div class="f-margin-bottom-16">
                    <h5 class="f-h5-heading">Basic</h5>
                  </div>
                  <div class="f-margin-bottom-24">
                    <h6 class="f-h6-heading">
                      $10.00 <span class="f-pricing-duration">/ Month</span>
                    </h6>
                  </div>
                  <div class="w-layout-grid f-pricing-feature-list">
                    <div
                      id="w-node-_41068643-c480-37a5-7f62-1f504a76c57a-3a2096f4"
                      class="f-pricing-feature-item"
                    >
                      <div class="f-icon-regular w-embed">
                        <svg
                          xmlns="http://www.w3.org/2000/svg"
                          width="24"
                          height="24"
                          viewBox="0 0 24 24"
                          fill="none"
                        >
                          <path
                            d="M12.0002 19.6386C7.78126 19.6386 4.36133 16.2187 4.36133 11.9997C4.36133 7.78077 7.78126 4.36084 12.0002 4.36084C16.2192 4.36084 19.6391 7.78077 19.6391 11.9997C19.6391 16.2187 16.2192 19.6386 12.0002 19.6386ZM11.2386 15.0553L16.6393 9.65383L15.5592 8.57369L11.2386 12.895L9.07758 10.734L7.99744 11.8141L11.2386 15.0553Z"
                            fill="#160042"
                          ></path>
                        </svg>
                      </div>
                      <div class="f-paragraph-small f-text-color-gray-600">
                        Pricing feature here
                      </div>
                    </div>
                    <div
                      id="w-node-_41068643-c480-37a5-7f62-1f504a76c57e-3a2096f4"
                      class="f-pricing-feature-item"
                    >
                      <div class="f-icon-regular w-embed">
                        <svg
                          xmlns="http://www.w3.org/2000/svg"
                          width="24"
                          height="24"
                          viewBox="0 0 24 24"
                          fill="none"
                        >
                          <path
                            d="M12.0002 19.6386C7.78126 19.6386 4.36133 16.2187 4.36133 11.9997C4.36133 7.78077 7.78126 4.36084 12.0002 4.36084C16.2192 4.36084 19.6391 7.78077 19.6391 11.9997C19.6391 16.2187 16.2192 19.6386 12.0002 19.6386ZM11.2386 15.0553L16.6393 9.65383L15.5592 8.57369L11.2386 12.895L9.07758 10.734L7.99744 11.8141L11.2386 15.0553Z"
                            fill="#160042"
                          ></path>
                        </svg>
                      </div>
                      <div class="f-paragraph-small f-text-color-gray-600">
                        Pricing feature here
                      </div>
                    </div>
                    <div
                      id="w-node-_41068643-c480-37a5-7f62-1f504a76c582-3a2096f4"
                      class="f-pricing-feature-item"
                    >
                      <div class="f-icon-regular w-embed">
                        <svg
                          xmlns="http://www.w3.org/2000/svg"
                          width="24"
                          height="24"
                          viewBox="0 0 24 24"
                          fill="none"
                        >
                          <path
                            d="M12.0002 19.6386C7.78126 19.6386 4.36133 16.2187 4.36133 11.9997C4.36133 7.78077 7.78126 4.36084 12.0002 4.36084C16.2192 4.36084 19.6391 7.78077 19.6391 11.9997C19.6391 16.2187 16.2192 19.6386 12.0002 19.6386ZM11.2386 15.0553L16.6393 9.65383L15.5592 8.57369L11.2386 12.895L9.07758 10.734L7.99744 11.8141L11.2386 15.0553Z"
                            fill="#160042"
                          ></path>
                        </svg>
                      </div>
                      <div class="f-paragraph-small f-text-color-gray-600">
                        Pricing feature here
                      </div>
                    </div>
                    <div
                      id="w-node-_41068643-c480-37a5-7f62-1f504a76c586-3a2096f4"
                      class="f-pricing-feature-item"
                    >
                      <div class="f-icon-regular w-embed">
                        <svg
                          xmlns="http://www.w3.org/2000/svg"
                          width="24"
                          height="24"
                          viewBox="0 0 24 24"
                          fill="none"
                        >
                          <path
                            d="M12.0002 19.6386C7.78126 19.6386 4.36133 16.2187 4.36133 11.9997C4.36133 7.78077 7.78126 4.36084 12.0002 4.36084C16.2192 4.36084 19.6391 7.78077 19.6391 11.9997C19.6391 16.2187 16.2192 19.6386 12.0002 19.6386ZM11.2386 15.0553L16.6393 9.65383L15.5592 8.57369L11.2386 12.895L9.07758 10.734L7.99744 11.8141L11.2386 15.0553Z"
                            fill="#160042"
                          ></path>
                        </svg>
                      </div>
                      <div class="f-paragraph-small f-text-color-gray-600">
                        Pricing feature here
                      </div>
                    </div>
                  </div>
                  <div class="f-pricing-line"></div>
                  <a href="#" class="f-button-secondary w-button">Get Ticket</a>
                </div>
                <div
                  id="w-node-_41068643-c480-37a5-7f62-1f504a76c58d-3a2096f4"
                  class="f-pricing-card-dark"
                >
                  <div class="f-margin-bottom-16">
                    <h5 class="f-h5-heading f-text-color-white">
                      Professional
                    </h5>
                  </div>
                  <div class="f-margin-bottom-24">
                    <div class="f-pricing-type-wrapper">
                      <h6 class="f-h6-heading f-text-color-white">
                        $50.00 <span class="f-pricing-duration">/ Month</span>
                      </h6>
                      <div class="f-badge-filled"><div>Popular</div></div>
                    </div>
                  </div>
                  <div class="w-layout-grid f-pricing-feature-list">
                    <div
                      id="w-node-_41068643-c480-37a5-7f62-1f504a76c59b-3a2096f4"
                      class="f-pricing-feature-item"
                    >
                      <div class="f-icon-regular w-embed">
                        <svg
                          xmlns="http://www.w3.org/2000/svg"
                          width="24"
                          height="24"
                          viewBox="0 0 24 24"
                          fill="none"
                        >
                          <path
                            d="M12.0002 19.6386C7.78126 19.6386 4.36133 16.2187 4.36133 11.9997C4.36133 7.78077 7.78126 4.36084 12.0002 4.36084C16.2192 4.36084 19.6391 7.78077 19.6391 11.9997C19.6391 16.2187 16.2192 19.6386 12.0002 19.6386ZM11.2386 15.0553L16.6393 9.65383L15.5592 8.57369L11.2386 12.895L9.07758 10.734L7.99744 11.8141L11.2386 15.0553Z"
                            fill="white"
                          ></path>
                        </svg>
                      </div>
                      <div class="f-paragraph-small f-text-color-gray-400">
                        Pricing feature here
                      </div>
                    </div>
                    <div
                      id="w-node-_41068643-c480-37a5-7f62-1f504a76c59f-3a2096f4"
                      class="f-pricing-feature-item"
                    >
                      <div class="f-icon-regular w-embed">
                        <svg
                          xmlns="http://www.w3.org/2000/svg"
                          width="24"
                          height="24"
                          viewBox="0 0 24 24"
                          fill="none"
                        >
                          <path
                            d="M12.0002 19.6386C7.78126 19.6386 4.36133 16.2187 4.36133 11.9997C4.36133 7.78077 7.78126 4.36084 12.0002 4.36084C16.2192 4.36084 19.6391 7.78077 19.6391 11.9997C19.6391 16.2187 16.2192 19.6386 12.0002 19.6386ZM11.2386 15.0553L16.6393 9.65383L15.5592 8.57369L11.2386 12.895L9.07758 10.734L7.99744 11.8141L11.2386 15.0553Z"
                            fill="white"
                          ></path>
                        </svg>
                      </div>
                      <div class="f-paragraph-small f-text-color-gray-400">
                        Pricing feature here
                      </div>
                    </div>
                    <div
                      id="w-node-_41068643-c480-37a5-7f62-1f504a76c5a3-3a2096f4"
                      class="f-pricing-feature-item"
                    >
                      <div class="f-icon-regular w-embed">
                        <svg
                          xmlns="http://www.w3.org/2000/svg"
                          width="24"
                          height="24"
                          viewBox="0 0 24 24"
                          fill="none"
                        >
                          <path
                            d="M12.0002 19.6386C7.78126 19.6386 4.36133 16.2187 4.36133 11.9997C4.36133 7.78077 7.78126 4.36084 12.0002 4.36084C16.2192 4.36084 19.6391 7.78077 19.6391 11.9997C19.6391 16.2187 16.2192 19.6386 12.0002 19.6386ZM11.2386 15.0553L16.6393 9.65383L15.5592 8.57369L11.2386 12.895L9.07758 10.734L7.99744 11.8141L11.2386 15.0553Z"
                            fill="white"
                          ></path>
                        </svg>
                      </div>
                      <div class="f-paragraph-small f-text-color-gray-400">
                        Pricing feature here
                      </div>
                    </div>
                    <div
                      id="w-node-_41068643-c480-37a5-7f62-1f504a76c5a7-3a2096f4"
                      class="f-pricing-feature-item"
                    >
                      <div class="f-icon-regular w-embed">
                        <svg
                          xmlns="http://www.w3.org/2000/svg"
                          width="24"
                          height="24"
                          viewBox="0 0 24 24"
                          fill="none"
                        >
                          <path
                            d="M12.0002 19.6386C7.78126 19.6386 4.36133 16.2187 4.36133 11.9997C4.36133 7.78077 7.78126 4.36084 12.0002 4.36084C16.2192 4.36084 19.6391 7.78077 19.6391 11.9997C19.6391 16.2187 16.2192 19.6386 12.0002 19.6386ZM11.2386 15.0553L16.6393 9.65383L15.5592 8.57369L11.2386 12.895L9.07758 10.734L7.99744 11.8141L11.2386 15.0553Z"
                            fill="white"
                          ></path>
                        </svg>
                      </div>
                      <div class="f-paragraph-small f-text-color-gray-400">
                        Pricing feature here
                      </div>
                    </div>
                  </div>
                  <div class="f-pricing-line-dark"></div>
                  <a href="#" class="f-pricing-button w-button">Get Started</a>
                </div>
              </div>
            </div>
            <div
              data-w-tab="Tab 2"
              class="f-pricing-tab-pane w-tab-pane w--tab-active"
            >
              <div class="w-layout-grid f-pricing-column-basic">
                <div
                  id="w-node-_41068643-c480-37a5-7f62-1f504a76c5b0-3a2096f4"
                  class="f-pricing-card-outline"
                >
                  <div class="f-margin-bottom-16">
                    <h5 class="f-h5-heading">Ordinally</h5>
                  </div>
                  <div class="f-margin-bottom-24">
                    <h6 class="f-h6-heading">
                      20,000 <span class="f-pricing-duration">/ Person</span>
                    </h6>
                  </div>
                  <div class="f-pricing-line"></div>
                  <a href="#" class="f-button-secondary w-button"
                    >Book a seat</a
                  >
                </div>
                <div
                  id="w-node-_2b25def9-6018-df53-bc88-32112be16eb2-3a2096f4"
                  class="f-pricing-card-outline"
                >
                  <div class="f-margin-bottom-16">
                    <h5 class="f-h5-heading">VIP</h5>
                  </div>
                  <div class="f-margin-bottom-24">
                    <h6 class="f-h6-heading">
                      50,000 <span class="f-pricing-duration">/ Person</span>
                    </h6>
                  </div>
                  <div class="f-pricing-line"></div>
                  <a href="#" class="f-button-secondary w-button"
                    >Book a seat</a
                  >
                </div>
                <div
                  id="w-node-_41068643-c480-37a5-7f62-1f504a76c5cd-3a2096f4"
                  class="f-pricing-card-dark"
                >
                  <div class="f-margin-bottom-16">
                    <h5 class="f-h5-heading f-text-color-white">VVIP</h5>
                  </div>
                  <div class="f-margin-bottom-24">
                    <div class="f-pricing-type-wrapper">
                      <h6 class="f-h6-heading f-text-color-white">
                        <strong>2,000,000 </strong
                        ><span class="f-pricing-duration">/</span> person
                      </h6>
                      <div class="f-badge-filled"><div>Beta</div></div>
                    </div>
                  </div>
                  <div class="f-pricing-line-dark"></div>
                  <a href="#" class="f-pricing-button w-button">Book a seat</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section id="Gallery" class="wf-section">
      <div class="f-section-large-3">
        <div class="f-container-regular-2">
          <div class="f-margin-bottom-48">
            <div class="f-title-wrapper-center-2">
              <div class="f-margin-bottom-129">
                <div class="f-heading-detail-small-2">gallery</div>
              </div>
              <h3 class="f-h3-heading-2">
                Representing every smile, move, color and memory.
              </h3>
            </div>
          </div>
          <div class="w-layout-grid f-gallery-two-column-s">
            <a
              href="#"
              class="f-gallery-lightbox w-inline-block w-lightbox"
              aria-label="open lightbox"
              aria-haspopup="dialog"
              ><div class="f-gallery-image-x-tall">
                <img
                  src="https://uploads-ssl.webflow.com/63888341ff628b9aa72096f3/63889f3af333e3e8185f1163_calabar-festival2-scaled.jpg"
                  loading="lazy"
                  srcset="
                    https://uploads-ssl.webflow.com/63888341ff628b9aa72096f3/63889f3af333e3e8185f1163_calabar-festival2-scaled-p-500.jpg   500w,
                    https://uploads-ssl.webflow.com/63888341ff628b9aa72096f3/63889f3af333e3e8185f1163_calabar-festival2-scaled-p-800.jpg   800w,
                    https://uploads-ssl.webflow.com/63888341ff628b9aa72096f3/63889f3af333e3e8185f1163_calabar-festival2-scaled-p-1080.jpg 1080w,
                    https://uploads-ssl.webflow.com/63888341ff628b9aa72096f3/63889f3af333e3e8185f1163_calabar-festival2-scaled-p-1600.jpg 1600w,
                    https://uploads-ssl.webflow.com/63888341ff628b9aa72096f3/63889f3af333e3e8185f1163_calabar-festival2-scaled-p-2000.jpg 2000w,
                    https://uploads-ssl.webflow.com/63888341ff628b9aa72096f3/63889f3af333e3e8185f1163_calabar-festival2-scaled.jpg        2560w
                  "
                  sizes="(max-width: 479px) 89vw, 90vw"
                  alt=""
                  class="f-image-cover"
                />
              </div>
              <script type="application/json" class="w-json">
                {
                  "items": [],
                  "group": ""
                }
              </script></a
            >
            <div
              id="w-node-a1cd5c2e-5980-45b7-b9d7-56bd55aad7c1-3a2096f4"
              class="w-layout-grid f-gallery-two-column"
            >
              <a
                href="#"
                class="f-gallery-lightbox w-inline-block w-lightbox"
                aria-label="open lightbox"
                aria-haspopup="dialog"
                ><div class="f-gallery-image-x-small-square">
                  <img
                    src="https://uploads-ssl.webflow.com/63888341ff628b9aa72096f3/6389ccd1e54de911cbd0af85_GPJNews_Uganda_AA_Nderecentre_40_Web-920x612c.jpg"
                    loading="lazy"
                    srcset="
                      https://uploads-ssl.webflow.com/63888341ff628b9aa72096f3/6389ccd1e54de911cbd0af85_GPJNews_Uganda_AA_Nderecentre_40_Web-920x612c-p-500.jpg 500w,
                      https://uploads-ssl.webflow.com/63888341ff628b9aa72096f3/6389ccd1e54de911cbd0af85_GPJNews_Uganda_AA_Nderecentre_40_Web-920x612c.jpg       526w
                    "
                    sizes="(max-width: 479px) 89vw, 90vw"
                    alt=""
                    class="f-image-cover"
                  />
                </div>
                <script type="application/json" class="w-json">
                  {
                    "items": [
                      {
                        "_id": "example_img",
                        "origFileName": "GPJNews_Uganda_AA_Nderecentre_40_Web-920x612c.jpg",
                        "fileName": "GPJNews_Uganda_AA_Nderecentre_40_Web-920x612c.jpg",
                        "fileSize": 96505,
                        "height": 334,
                        "url": "https://uploads-ssl.webflow.com/63888341ff628b9aa72096f3/6389ccd1e54de911cbd0af85_GPJNews_Uganda_AA_Nderecentre_40_Web-920x612c.jpg",
                        "width": 526,
                        "type": "image"
                      }
                    ],
                    "group": ""
                  }
                </script></a
              ><a
                href="#"
                class="f-gallery-lightbox w-inline-block w-lightbox"
                aria-label="open lightbox"
                aria-haspopup="dialog"
                ><div class="f-gallery-image-x-small-square">
                  <img
                    src="https://uploads-ssl.webflow.com/63888341ff628b9aa72096f3/6389ccd04e6ab32bc76ce153_0edc298e45318d69e58b2a7ee8751002.jpg"
                    loading="lazy"
                    srcset="
                      https://uploads-ssl.webflow.com/63888341ff628b9aa72096f3/6389ccd04e6ab32bc76ce153_0edc298e45318d69e58b2a7ee8751002-p-500.jpg 500w,
                      https://uploads-ssl.webflow.com/63888341ff628b9aa72096f3/6389ccd04e6ab32bc76ce153_0edc298e45318d69e58b2a7ee8751002.jpg       524w
                    "
                    sizes="(max-width: 479px) 89vw, 90vw"
                    alt=""
                    class="f-image-cover"
                  />
                </div>
                <script type="application/json" class="w-json">
                  {
                    "items": [],
                    "group": ""
                  }
                </script></a
              ><a
                href="#"
                class="f-gallery-lightbox w-inline-block w-lightbox"
                aria-label="open lightbox"
                aria-haspopup="dialog"
                ><div class="f-gallery-image-x-small-square">
                  <img
                    src="https://uploads-ssl.webflow.com/63888341ff628b9aa72096f3/6389ccd04447061a3b83f965_h2bjha.jpg"
                    loading="lazy"
                    alt=""
                    class="f-image-cover"
                  />
                </div>
                <script type="application/json" class="w-json">
                  {
                    "items": [],
                    "group": ""
                  }
                </script></a
              ><a
                href="#"
                class="f-gallery-lightbox w-inline-block w-lightbox"
                aria-label="open lightbox"
                aria-haspopup="dialog"
                ><div class="f-gallery-image-x-small-square">
                  <img
                    src="https://uploads-ssl.webflow.com/63888341ff628b9aa72096f3/6389ccd11b34fc4e0c9da528_maxresdefault.jpg"
                    loading="lazy"
                    srcset="
                      https://uploads-ssl.webflow.com/63888341ff628b9aa72096f3/6389ccd11b34fc4e0c9da528_maxresdefault-p-500.jpg 500w,
                      https://uploads-ssl.webflow.com/63888341ff628b9aa72096f3/6389ccd11b34fc4e0c9da528_maxresdefault.jpg       622w
                    "
                    sizes="(max-width: 479px) 89vw, 90vw"
                    alt=""
                    class="f-image-cover"
                  />
                </div>
                <script type="application/json" class="w-json">
                  {
                    "items": [],
                    "group": ""
                  }
                </script></a
              >
            </div>
          </div>
        </div>
      </div>
    </section>
    <section id="footer" class="section-2 wf-section">
      <div class="f-section-small">
        <div class="f-container-regular-2">
          <div class="f-title-wrapper-center-2 margin-bottom-48">
            <h6 class="f-h6-heading-2">Partners and Sponsors</h6>
          </div>
          <div class="w-layout-grid f-grid-four-column">
            <div
              id="w-node-a0389e53-64a3-35a9-5b0c-5789f8662846-f866283f"
              class="f-logo-block"
            >
              <img
                src="https://uploads-ssl.webflow.com/63888341ff628b9aa72096f3/6389fda5538b8f9fc0d90d22_Logo%20Placeholder%2001.svg"
                loading="lazy"
                alt=""
              />
            </div>
            <div
              id="w-node-a0389e53-64a3-35a9-5b0c-5789f8662848-f866283f"
              class="f-logo-block"
            >
              <img
                src="https://uploads-ssl.webflow.com/63888341ff628b9aa72096f3/6389fda5538b8f7ec9d90d20_Logo%20Placeholder%2002.svg"
                loading="lazy"
                alt=""
              />
            </div>
            <div
              id="w-node-a0389e53-64a3-35a9-5b0c-5789f866284a-f866283f"
              class="f-logo-block"
            >
              <img
                src="https://uploads-ssl.webflow.com/63888341ff628b9aa72096f3/6389fda5538b8fb4ccd90d21_Logo%20Placeholder%2003.svg"
                loading="lazy"
                alt=""
              />
            </div>
            <div
              id="w-node-a0389e53-64a3-35a9-5b0c-5789f866284c-f866283f"
              class="f-logo-block"
            >
              <img
                src="https://uploads-ssl.webflow.com/63888341ff628b9aa72096f3/6389fda5538b8f7015d90d23_Logo%20Placeholder%2004.svg"
                loading="lazy"
                alt=""
              />
            </div>
          </div>
          <a href="#" class="f-button-primary w-inline-block"
            ><div class="text-block-3">Sponsor</div></a
          >
        </div>
      </div>
      <div class="f-footer-small">
        <div class="f-container-large">
          <div class="f-footer-bottom">
            <div class="f-footer-brand">
              <a href="#" class="f-footer-logo w-inline-block"
                ><img
                  src="https://uploads-ssl.webflow.com/63888341ff628b9aa72096f3/638b62d810a6ceaa084ce212_WhatsApp%20Image%202022-12-03%20at%2017.16.29.jpeg"
                  loading="lazy"
                  srcset="
                    https://uploads-ssl.webflow.com/63888341ff628b9aa72096f3/638b62d810a6ceaa084ce212_WhatsApp%20Image%202022-12-03%20at%2017.16.29-p-500.jpeg  500w,
                    https://uploads-ssl.webflow.com/63888341ff628b9aa72096f3/638b62d810a6ceaa084ce212_WhatsApp%20Image%202022-12-03%20at%2017.16.29-p-800.jpeg  800w,
                    https://uploads-ssl.webflow.com/63888341ff628b9aa72096f3/638b62d810a6ceaa084ce212_WhatsApp%20Image%202022-12-03%20at%2017.16.29.jpeg       1080w
                  "
                  sizes="(max-width: 479px) 36vw, 7vw"
                  alt=""
                  class="image-4"
              /></a>
            </div>
            <div class="f-footer-group">
              <div
                id="w-node-a0389e53-64a3-35a9-5b0c-5789f8662859-f866283f"
                class="f-footer-menu"
              >
                <a href="#" class="f-footer-link w-inline-block"
                  ><div id="df" class="text-block-4">Vendors</div></a
                >
                <div class="f-footer-vertical-divider"></div>
                <a href="#" class="f-footer-link w-inline-block"
                  ><div class="text-block-4">Feature</div></a
                >
                <div class="f-footer-vertical-divider"></div>
                <a href="#" class="f-footer-link w-inline-block"
                  ><div class="text-block-4">Activities</div></a
                >
                <div class="f-footer-vertical-divider"></div>
                <a href="#" class="f-footer-link w-inline-block"
                  ><div class="text-block-4">Pricing</div></a
                >
              </div>
              <div class="f-footer-social-row-large">
                <div class="f-footer-social-group">
                  <a href="#" class="f-footer-social w-inline-block"
                    ><div class="f-icon-regular-2 w-embed">
                      <svg
                        width="24"
                        height="24"
                        viewBox="0 0 24 24"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                      >
                        <path
                          d="M12.0001 3.6665C7.39758 3.6665 3.66675 7.39734 3.66675 11.9998C3.66675 16.159 6.71425 19.6065 10.6984 20.2323V14.4082H8.58175V11.9998H10.6984V10.164C10.6984 8.07567 11.9417 6.92234 13.8459 6.92234C14.7576 6.92234 15.7109 7.08484 15.7109 7.08484V9.13484H14.6609C13.6251 9.13484 13.3026 9.77734 13.3026 10.4365V11.9998H15.6134L15.2442 14.4082H13.3026V20.2323C17.2859 19.6073 20.3334 16.1582 20.3334 11.9998C20.3334 7.39734 16.6026 3.6665 12.0001 3.6665Z"
                          fill="currentColor"
                        ></path>
                      </svg></div></a
                  ><a href="#" class="f-footer-social w-inline-block"
                    ><div class="f-icon-regular-2 w-embed">
                      <svg
                        width="24"
                        height="24"
                        viewBox="0 0 24 24"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                      >
                        <path
                          d="M20.4683 6.71333C19.8321 6.99474 19.1574 7.17956 18.4666 7.26167C19.1947 6.82619 19.7397 6.14084 19.9999 5.33333C19.3166 5.74 18.5674 6.025 17.7866 6.17917C17.2621 5.61798 16.5669 5.2458 15.809 5.12049C15.0512 4.99517 14.2732 5.12374 13.596 5.48621C12.9187 5.84868 12.3802 6.42474 12.0642 7.12483C11.7481 7.82492 11.6722 8.60982 11.8483 9.3575C10.4625 9.28804 9.10686 8.92794 7.86933 8.30055C6.63179 7.67317 5.54003 6.79254 4.66492 5.71583C4.35516 6.24788 4.19238 6.85269 4.19326 7.46833C4.19326 8.67667 4.80826 9.74417 5.74326 10.3692C5.18993 10.3517 4.64878 10.2023 4.16492 9.93333V9.97667C4.16509 10.7814 4.44356 11.5613 4.95313 12.1842C5.46269 12.8071 6.17199 13.2346 6.96075 13.3942C6.4471 13.5334 5.90851 13.5539 5.38576 13.4542C5.60814 14.1469 6.04159 14.7527 6.62541 15.1868C7.20924 15.6208 7.9142 15.8615 8.64159 15.875C7.91866 16.4428 7.0909 16.8625 6.20566 17.1101C5.32041 17.3578 4.39503 17.4285 3.48242 17.3183C5.0755 18.3429 6.93 18.8868 8.82409 18.885C15.2349 18.885 18.7408 13.5742 18.7408 8.96833C18.7408 8.81833 18.7366 8.66667 18.7299 8.51833C19.4123 8.02514 20.0013 7.41418 20.4691 6.71417L20.4683 6.71333Z"
                          fill="currentColor"
                        ></path>
                      </svg></div></a
                  ><a href="#" class="f-footer-social w-inline-block"
                    ><div class="f-icon-regular-2 w-embed">
                      <svg
                        width="24"
                        height="24"
                        viewBox="0 0 24 24"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                      >
                        <path
                          d="M12.0001 3.6665C14.2642 3.6665 14.5467 3.67484 15.4351 3.7165C16.3226 3.75817 16.9267 3.89734 17.4584 4.104C18.0084 4.31567 18.4717 4.60234 18.9351 5.06484C19.3588 5.48142 19.6867 5.98533 19.8959 6.5415C20.1017 7.07234 20.2417 7.67734 20.2834 8.56484C20.3226 9.45317 20.3334 9.73567 20.3334 11.9998C20.3334 14.264 20.3251 14.5465 20.2834 15.4348C20.2417 16.3223 20.1017 16.9265 19.8959 17.4582C19.6873 18.0147 19.3594 18.5187 18.9351 18.9348C18.5184 19.3584 18.0145 19.6863 17.4584 19.8957C16.9276 20.1015 16.3226 20.2415 15.4351 20.2832C14.5467 20.3223 14.2642 20.3332 12.0001 20.3332C9.73592 20.3332 9.45341 20.3248 8.56508 20.2832C7.67758 20.2415 7.07341 20.1015 6.54175 19.8957C5.98535 19.6869 5.48135 19.359 5.06508 18.9348C4.64125 18.5183 4.31336 18.0144 4.10425 17.4582C3.89758 16.9273 3.75841 16.3223 3.71675 15.4348C3.67758 14.5465 3.66675 14.264 3.66675 11.9998C3.66675 9.73567 3.67508 9.45317 3.71675 8.56484C3.75841 7.6765 3.89758 7.07317 4.10425 6.5415C4.31278 5.98499 4.64075 5.48094 5.06508 5.06484C5.48147 4.64086 5.98544 4.31295 6.54175 4.104C7.07341 3.89734 7.67675 3.75817 8.56508 3.7165C9.45341 3.67734 9.73592 3.6665 12.0001 3.6665ZM12.0001 7.83317C10.895 7.83317 9.83521 8.27216 9.0538 9.05356C8.2724 9.83496 7.83342 10.8948 7.83342 11.9998C7.83342 13.1049 8.2724 14.1647 9.0538 14.9461C9.83521 15.7275 10.895 16.1665 12.0001 16.1665C13.1052 16.1665 14.165 15.7275 14.9464 14.9461C15.7278 14.1647 16.1667 13.1049 16.1667 11.9998C16.1667 10.8948 15.7278 9.83496 14.9464 9.05356C14.165 8.27216 13.1052 7.83317 12.0001 7.83317ZM17.4167 7.62484C17.4167 7.34857 17.307 7.08362 17.1117 6.88827C16.9163 6.69292 16.6513 6.58317 16.3751 6.58317C16.0988 6.58317 15.8339 6.69292 15.6385 6.88827C15.4432 7.08362 15.3334 7.34857 15.3334 7.62484C15.3334 7.9011 15.4432 8.16606 15.6385 8.36141C15.8339 8.55676 16.0988 8.6665 16.3751 8.6665C16.6513 8.6665 16.9163 8.55676 17.1117 8.36141C17.307 8.16606 17.4167 7.9011 17.4167 7.62484ZM12.0001 9.49984C12.6631 9.49984 13.299 9.76323 13.7678 10.2321C14.2367 10.7009 14.5001 11.3368 14.5001 11.9998C14.5001 12.6629 14.2367 13.2988 13.7678 13.7676C13.299 14.2364 12.6631 14.4998 12.0001 14.4998C11.337 14.4998 10.7012 14.2364 10.2323 13.7676C9.76347 13.2988 9.50008 12.6629 9.50008 11.9998C9.50008 11.3368 9.76347 10.7009 10.2323 10.2321C10.7012 9.76323 11.337 9.49984 12.0001 9.49984Z"
                          fill="currentColor"
                        ></path>
                      </svg></div
                  ></a>
                </div>
              </div>
            </div>
          </div>
          <div class="f-footer-horizontal-divider"></div>
          <div class="f-footer-bottom">
            <div class="f-footer-brand">
              <p class="f-footer-detail f-text-color-white">
                Copyright ©2022 cultural festival.
              </p>
            </div>
            <div
              id="w-node-a0389e53-64a3-35a9-5b0c-5789f8662876-f866283f"
              class="f-footer-menu"
            >
              <a href="#" class="f-footer-link w-inline-block"
                ><div class="text-block-5">Contact</div></a
              >
              <div class="f-footer-vertical-divider"></div>
              <a href="#" class="f-footer-link w-inline-block"
                ><div class="text-block-5">Privacy</div></a
              >
              <div class="f-footer-vertical-divider"></div>
              <a href="#" class="f-footer-link w-inline-block"
                ><div class="text-block-5">cookies</div></a
              >
              <div class="f-footer-vertical-divider"></div>
              <a href="#" class="f-footer-link w-inline-block"
                ><div class="text-block-5">Accessibility</div></a
              >
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</main>
<script src="/js/index.js"></script>
<%- include('partials/footer'); -%>
